.circle-number {
    background-color: $turkos;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
    color: #fff;
    font-family: 'PT Sans Caption';
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
}