// Colors
$mullvad:  rgb(62, 53, 50);
$latte:    rgb(227, 204, 161);
$saltkola: rgb(193, 163, 116);
$text-color:     #444;
$turkos: rgb(118,214,214);

$latte: $mullvad;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-huge: 1600px;